$bg: #24283b;
$bg-alt: #2E3440;
$fg:  #c0caf5;
$black: #3d414f;
$lightblack: #262831;
$red: #dd6777;
$blue: #86aaec;
$cyan:  #4DD0E1;
$magenta: #c296eb;
$green: #90ceaa;
$yellow: #ecd3a0;
$archicon: #0f94d2;
$lavanda: #d1cfe5;
