* {
  all: unset;
}

// Variable Color's
$background: #24283b;
$foreground: #2E3440;

$white:  #c0caf5;
$cyan: #4DD0E1;
$blue: #86aaec;
$magenta: #c296eb;
$red: #dd6777;

// The bar
.eww_bar {
  background-color: $background;
  border-radius: 12px;
  border: 2px solid black;
  border-color: $magenta;
}

.eww_bar2 {
  background-color: $background;
  border-radius: 12px;
  border: 2px solid black;
  border-color: $magenta;
}

// Launcher
.launcher_icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 65px;
  min-width: 65px;
  margin: 4px 4px 4px 4px;
}

.icon {
  color: $white;
  font-size: 24px;
  border-radius: 12px;
  border: 2px solid black;
  border-color: $magenta;
  padding: 0; 
  margin: 0;
}

// Workspaces
.works {
  font-family: "Material Design Icons Desktop";
  padding: 2px 0 2px 0;
  margin: 2px 2px 2px 2px;
  border-radius: 6px;
}

.workspace-focused,
.workspace-occupied,
.workspace-empty{
  font-size: 18px;
  color:  $white;
  margin: 0 0 2px 0;
  background: linear-gradient(to bottom right,$magenta, $cyan);
}

// icons info
.control {
  padding: 2px;
  background-color: $background;
  border-radius: 6px;
}

.trayicon {
  background-repeat: no-repeat;
  background-size: 24px;
  min-height: 4px;
  min-width: 4px;
  margin: 2px 9px 0 0;
}

.bar-updates-text {
  font-family: "minecraft";
  font-size: 14px;
  font-weight: Bold;
  color: $white;
  margin: 2px 9px 0 0;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 12px;
  min-height: 65px;
  min-width: 12px;
}

.volbar trough highlight {
  background: linear-gradient($red, $magenta, $blue, $cyan);
  border-radius: 6px;
}

// Clock
.hour,
.minutes,
.seconds,
.time {
  font-family: minecraft;
  font-weight: bold;
  font-size: 18px;
// background-color: $foreground;
// background: linear-gradient(to bottom right,$magenta, $cyan);
  color: $white;
}

// Powermenu
.button-powermenu {
  background-repeat: no-repeat;
  background-size: 24px;
  min-height: 4px;
  min-width: 4px;
  margin: 2px 0 6px 9px;
}
