.launchermenu {
  background-color: $bg;
  border-radius: 12px;
  border: 3px solid black;
  border-color: $magenta;
  min-width: 18rem;
}

.timebox {
   margin: 12px 12px 12px 12px;

  .time-container {
    .content {
      font-family: minecraft;
      font-weight: Bolder;
      font-size: 3.6rem;
      color: $fg;
    }

    .divider {
      margin: 0.2rem 15px;
      padding: 0px 1px;
      background: linear-gradient($red, $magenta, $blue, $cyan);
    }
  }

  .date-container {
    font-family: minecraft;
    font-weight: Bold;
    font-size: 1rem;
    color: $fg;
    margin: 3px 0;
  }
}

.usercard {
  background-color: transparent;
  border-radius: 0.5rem;
}

.face {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 65px;
  min-width: 65px;
  border: 3px solid $bg;
  border-radius: 100%;
  border-color: $magenta;
  //box-shadow: 0 0 7px 1px rgba($fg, 0.3);
  margin: 10px -8px 10px 10px;
}

.user-host {
  color: $fg;
  font-family: minecraft;
  font-weight: Normal;
  font-size: 1rem;
}

.host {
  color: $fg;
  font-family: minecraft;
  font-size: 0.8rem;
}

.uptime {
  color: $fg;
  font-family: minecraft;
  font-size: 1.0rem;
  margin-top: 0.5rem;
}

.btn-info {
  font-family: Material Design Icons Desktop;
  font-size: 1.2rem;
  color: $fg;
  padding: 0 0.6rem;
}

.btn-info:hover {
  text-shadow: 0 0 2px $fg;
}

.usearch {
  background-color: $bg-alt;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: $fg;
}

.launcher-pfp-label {
  font-family: Inconsolata SemiCondensed Medium;
  font-weight: Bold;
  font-size: 1rem;
}

.fetch {
  background-color: transparent;
  padding: 0.8rem 2rem 0.8rem 1rem;
  border-radius: 0.5rem;
  color: $fg;

  .arch-icon {
    font-family: Material Design Icons Desktop;
    font-size: 3.2rem;
    color: $archicon;
    margin: 0px 22px 0px 82px;
  }
}

.os-icon {
  font-family: Material Design Icons Desktop;
  font-size: 0.8rem;
  color: $archicon;
}

.pkgs-icon {
  font-family: Material Design Icons Desktop;
  font-size: 0.8rem;
  color: $yellow;
}

.wm-icon {
  font-family: Material Design Icons Desktop;
  font-size: 0.8rem;
  color: $magenta;
}

.os-text,
.pkgs-text,
.wm-text {
  font-family: minecraft;
  font-weight: Bold;
  font-size: 1rem;
}

.weatherbox,
.weathericon {
  margin: 4px 4px 4px 4px;
  padding: 0 0.8rem;
  border-radius: 0.5rem;
  margin-left: 0.6rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Font Awesome 6 Free Solid";
}

.weatherdesc,
.weathertemp,
.weathercity {
  font-size: 0.9rem;
//  margin-top: 0.2rem;
  color: $fg;
  font-family: minecraft;
  font-weight: Bold;
}

.progress {
  background-color: transparent;
  padding: 0.7rem 0.7rem;
  border-radius: 1rem;

  circular-progress {
    background-color: $bg-alt;
      margin: 6px 0px 6px 0px;

    &.ram {
      color: $blue;
    }

    &.cpu {
      color: $green;
    }

    &.temp {
      color: $red;
    }

    &.disk {
      color: $magenta;
    }
  }

  .icon {
    font-family: "Font Awesome 6 Free Solid";
    font-size: 1rem;
    padding: 1.1rem;
    margin: 4px 4px 4px 4px
  }
}
