* {
  all: unset;
}

tooltip {
  background-color: transparent;
  color: #c0caf5;
  font-family: minecraft;
  font-weight: Bold;
  font-size: 1rem;
}

@import "colors.scss";
@import "calendar/calendar.scss";
@import "profilecard/profilecard.scss";
